#single-download {
  @include grid-row($width: 100%);

  .entry-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

  .entry-sidebar {



    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(4);
    }

    .sticky {
      width: 100%;
      padding-right: 0.75rem;
    }

    .download-details {

      background-color: $secondary;
      color: $white;

      @include block-padding;



    }

  }

  .course-intro {

    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(10);
      @include grid-column-offset(1);
    }
  }


}
