#single-download {
  @include grid-row($width: 100%);

  .course-intro {

    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(10);
      @include grid-column-offset(1);
    }
  }


}

.download-details {

  background-color: $secondary;
  color: $white;

  @include block-padding;

  h4 {
    color: $white;
  }

  a {
    color: $white;
    &:hover {
      color: $primary;
    }
  }

}

