.button,
button,
input[type="submit"] {
	box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
	border: none;
	font-weight: bold;

	&.edd-submit, 
	&.edd-submit.gray, 
	&.edd-submit:visited {
	    color: $button-color;
	    background: $button-background;

	    &:hover, &:focus, &:active {
		    background-color: $button-background-hover;
		    color: $button-color;
		}
	}
}
.sites-button {
  background: $primary;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}
