.newsletter-signup {
	input[type='email'] {
		display: inline-block;
		width: auto;
		margin-right: .5rem;
		padding: 1.2em 1em 1.35em;
		line-height: 1;
		height: auto;
		// vertical-align: bottom;
	}
	.button {
		// vertical-align: none;
	}

}
