.newsletter-signup {
	margin-top: 1rem;

	input[type='email'],
	input[type='text'] {
		display: inline-block;
		width: auto;
		margin-right: .5rem;
		padding: 1em;
		line-height: 1;
		height: auto;
		// vertical-align: bottom;
	}
	.button {
		// vertical-align: none;
		margin-bottom: 0;
	}

}



#respond {
	@include breakpoint(small) {
		margin-top: 1.75rem;
	}

	@include breakpoint(medium) {
		margin-top: 3rem;
	}
}

#commentform {

	textarea {
		height: 6rem;
	}

	#allowed_tags {
		display: none;
	}

	.button {
		margin-bottom: 0;
	}

}


#edd_profile_editor_form label {
    display: block;
    width: auto;
}