.facebook-link a,
.youtube-link a {

  span {
    // @include hide-for(medium);
  }
  :before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: rem-calc(8);
  }
}
.youtube-link a {
  :before {
    content: $fa-var-youtube-play;
  }
}
.facebook-link a {
  :before {
    content: $fa-var-facebook;
  }
}

/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: $white;
  }
}

/* Tablet and desktop menu */
.top-bar {

  .menu .home a {
    font-size: 1rem;
    color: $white;
  }

  .menu a {
    height: 70px;
    line-height: 70px;
    color: $white;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    // line-height: 1;

    &:hover:not(.button) {
      // background-color: $darkgreen;
      color: $primary;
    }
  }

  #mobile-menu .menu a {
      height: 45px;
      line-height: 45px;
  }

  .menu>li:not(.menu-text)>a { 
    //padding: 1rem; 
  }
  .menu li:not(:last-child) { 
    // border-right: 1px solid #4e4e4e; 
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

}
