.sidebar {

    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(4);
    }

    .widget {
    	border: 1px solid $light-gray;
    	// background-color: $light-gray;
    	margin: 0 1rem 2rem;
    	padding: 1rem;
    }

    ul {
    	list-style: none;
    	margin-left:0;

    	> li {
    		margin-bottom: .5rem;

    		&:last-child {
    			margin-bottom: 0;
    		}
    	}
    }

    a {
    	color: $body-font-color;
    	font-weight:normal;

    	&:hover, &:active {
    		color: $primary;
    	}
    }

    ul, p {
    	line-height: 1.35;
    	&:last-child {
    		margin-bottom: 0;
    	}
    }

    .input-group {
    	margin-bottom: 0;
    }
}
